.form-group > label {
  opacity: 60%;
  transition: color 0.3s ease-in-out opacity 0.3s ease-in-out;
}

.form-group > label.is-active {
  opacity: 100%;
  color: #4a7d58;
}

.yc-form-control {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  border: 0px;
  border-bottom: 1px solid #171817;
  display: block;
  width: 100%;
  padding: 0.1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.yc-form-control:focus {
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  border-color: #4a7d58;
  box-shadow: 0 2px 0 #4a7d58;
}

.yc-btn {
  color: #064420 !important;
  border-radius: 0;
  padding: 0.1rem;
}

.yc-btn:hover {
  box-shadow: 0 2px 0 #4a7d58;
}

.yc-btn:focus {
  box-shadow: 0 2px 0 #4a7d58;
}
